@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "masterTemplate.cshtml";
}

<h1>About @Model.Value("aboutName")</h1>

<div>

    @{
        var typedMediaPickerSingle = Model.Value<MediaWithCrops>("image");
        if (typedMediaPickerSingle != null)
        {
            <img src="@typedMediaPickerSingle.MediaUrl()" style="width:200px" alt="En bild" />
        }
    }
    

</div>

<!-- Main content -->
<div id="content">
	@Model.Value("description")
</div>